@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --main-color: #FFA822;
  --sub-color: #1AC0C6;
  --font-color: #134E6F;
  --point-color: #FF6150;
  --background-color: #DEE0E6;
  --error-color: #df0101;
  --sub-font-color: #ffffff;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0px;
  padding: 0px;
  color: var(--font-color);
  background-color: var(--background-color);
}

#loginLogo {
  position: absolute;
  left: 2%;
  width: 200px;
  opacity: 0.4;
}

a {
  text-decoration: none;
}

#errorMsg {
  color: var(--error-color);
}

#formTitle {
  font-size: 2.6em;
}

#loginPannel {
  background-color: var(--main-color);
  padding: 5%;
}

.loginInputs {
  padding: 12px;
  border-radius: 14px;
  border: 1px solid grey;
  display: block;
  margin: 0 auto;
  margin-bottom: 2%;
  width: 35%;
  font-size: 0.9em;
}

.loginInputs:focus {
  outline: none;
}

#loginForm {
  color: var(--sub-font-color);
  text-align: center;
}

#forgotP a {
  color:var(--sub-font-color);
}

#submit {
  border-radius: 13px;
  border: 1px solid white;
  background-color: var(--point-color);
  padding: 1%;
  font-size: 1.3em;
  color: var(--sub-font-color);
  width: 200px;
}

#submit:hover {
  cursor: pointer;
  background-color: var(--sub-color);
}

footer #copyright {
  float: right;
  text-align: right;
  font-size: 0.75em;
  color: var(--font-color);
  margin-top: 2%;
}



