<!DOCTYPE html>
<html>
  <section id="about">
    <h2>About US</h2>
    <div id="aboutUs">
      <div id="maggie" class="ownerContainer">
        <img class="avatar" src="../imgs/maggie.png" alt="owner avatar">
        <h3 class="ownerName">Maggie Dou</h3>
        <p>
          Maggie graduated from the University of Toronto with a degree in Biochemistry
          and Molecular Biology. After working some years post graduation, she realized that
          coding and problem solving was her passion and decided to pursue this goal at BCIT's 
          CST program.
        </p>
      </div>
      <div id="taqwa" class="ownerContainer">
        <img class="avatar" src="../imgs/taqwa.png" alt="owner avatar">
        <h3 class="ownerName">Taqwa Oumed</h3>
        <p>
          Taqwa is a graduate of BCIT’s Technical Web Designer program and current student of their CST program. 
                        When not plugged in to her computer, she can either be found with her nose in a book or rewatching the entire Marvel Cinematic Universe. 
                        She aspires to complete her current diploma program and pursue a BTech degree.
        </p>
      </div>
      <div class="ownerContainer">
        <img id="izzy" class="avatar" src="../imgs/izzy.png" alt="owner avatar">
        <h3 class="ownerName">Izzy Sato</h3>
        <p>
          Izzy graduated from Meisei Art University in Japan, where she studied fashion and design. 
                    She worked as a Product Service Analyst for four years in Vancouver before deciding a career in software development. 
                    Currently, she is a second-term CST at BCIT.
        </p>
      </div>
      <div is="alex" class="ownerContainer">
        <img class="avatar" src="../imgs/alex.png" alt="owner avatar">
        <h3 class="ownerName">Alex Ho</h3>
        <p>
          Alex graduated with an Accounting Degree from Douglas College. After graduation, he sought to
                        challenge himself in a new environment and thus found his passion in coding. In his spare time, you'll find
                        him lifting weights at the gym or dozing off somewhere. Alex is currently pursuing his passion for software development
                        at BCIT.
        </p>
      </div>
    </div>

  </section>
</html>
