<!DOCTYPE html>
<html>
  <head>
    <title>InSync</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Yay! Pandemic Over! We can hang out again!"/>
    <link rel="stylesheet" href="/css/landing.css">
  </head>
  <body>
    <div id="content">
      <div class="banner">
        <div id="welcomeLogOutContainer">
          <div id="welcomeSection"></div>
          <form id="logOutForm" action="/logout" method="get">
            <input class="btn" type="submit" value="Logout"/>
          </form>
        </div>
        <img id="landingLogo" src="../imgs/favicon.ico" alt="logo">
        <div id="navigations">
          <nav id="phoneNav">
            <ul>
              <li class="line"></li>
              <li class="line"></li>
              <li class="line"></li>
            </ul>
          </nav>
          <nav id="desktopNav">
            <ul>
              <li class="mainNavLi"><a href="#">Schedule</a></li>
              <li class="mainNavLi"><a href="#">Events</a></li>
            </ul>
          </nav>
        </div>

      </div>

      <div id="introSection"></div>
      <div id="aboutUsSection"></div>

    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    
</body>
</html>
